/*************************************************************************/
/*$slider $$*/
/* $featured content*/

#featured{  
margin-top: 0px;
width:940px;  
padding-left: 0px;  
top: 0;
margin-bottom: 9px;
background: #333333;

position:relative;  
height:311px;  
/*background: url(../images/featured_bg.jpg) top right no-repeat; */
/*background-color: #fff;*/

}

#featured ul.ui-tabs-nav{  
position: absolute; 
width: 100%;

list-style:none;  
padding:0; margin:0;  
position: absolute;
bottom: 0;

}  

#featured ul.ui-tabs-nav li {
width: 33.3333333%;
float: left;
background: #333333;
height: 62px;

}

#featured ul.ui-tabs-nav li img {
	float:  left;
	margin-left: 10px;
	margin-top: 10px;
}

#featured ul.ui-tabs-nav
 {
	margin: 0;
	padding-top: 3px;
}

#featured ul.ui-tabs-nav li span{  
float: left;
padding-top: 11px;
margin-left: 7px;

} 	

/* fixes padding of last list item - inženiring*/
#featured ul.ui-tabs-nav li .padfix {


}


/*ui-tabs-hide class is essential to working of this script. 
Decides which content panels are hidden and which is displayed.*/

#featured .ui-tabs-panel{  
width:940px;
height:249px !important;  
position:relative;  
overflow:hidden;  

}  	


#featured .ui-tabs-panel img.feat-img {
	position: absolute;
	height: 249px;
	width: 940px;
	top: 0;
	z-index: 2;
}

#featured .ui-tabs-panel .slider-text-wrap {
	position: absolute;
	width: 890px;
	z-index: 3;
	height:214px;
	padding-top: 35px;
	padding-left: 50px;
	background:  url(../img/gradient-slider-bg.png) 0 0 repeat-y;	
	
}



#featured .ui-tabs-hide{  
display: none;
}  



/*And the selected tab is given a background image with a left arrow. 
Here are the styles for selected tab.*/
#featured li.ui-tabs-nav-item a { /*On Hover Style*/  
display:block;  


text-decoration: none;		

outline:none;  

}  
#featured li.ui-tabs-nav-item a:hover{          
background: url(../images/fit_1px_bg.png);
}  
#featured li.ui-tabs-selected{ /*Selected tab style*/  

} 

#featured ul.ui-tabs-nav li.ui-tabs-selected a{         
/*background:url('../images/selected.png') top right no-repeat;  */
background: url(../img/ui-tab-nav-hover.png) 0 0 repeat-x;
}  
/*************************************************************************/
/* styles of featured navigation */
#featured .ui-tabs-nav-item {

}



#featured .ui-tabs-panel{
padding: 0;
width: 940px;
height: 249px;
color: #fff;
position: absolute;
z-index: 1;
}





