
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=372421ac-a2a3-4c73-b091-7be91a46bfde");
@font-face{
font-family:"Eurostile Next W01 Bold";
src:url("Fonts/bc835265-5330-42c8-9919-852df90dcc4a.eot?#iefix");
src:url("Fonts/bc835265-5330-42c8-9919-852df90dcc4a.eot?#iefix") format("eot"),url("Fonts/2ffb2ca5-bb3a-40ab-bd73-8e3f9e01d3c5.woff") format("woff"),url("Fonts/e5280698-d618-49c0-a0bb-2f0efcd511d9.ttf") format("truetype"),url("Fonts/84078a65-4d26-48c3-ba2f-7a7485f8f427.svg#84078a65-4d26-48c3-ba2f-7a7485f8f427") format("svg");
}
@font-face{
font-family:"EurostileNextW01-BoldEx";
src:url("Fonts/b62578e2-99a4-4c2c-a5d8-bbe60e8a3686.eot?#iefix");
src:url("Fonts/b62578e2-99a4-4c2c-a5d8-bbe60e8a3686.eot?#iefix") format("eot"),url("Fonts/a6bf4171-008f-47d7-a210-b450dc6b2f88.woff") format("woff"),url("Fonts/2781e8b9-8650-412c-8fa4-f4e4e113b05d.ttf") format("truetype"),url("Fonts/ff7a2311-cc92-40aa-8a50-05d78ed06796.svg#ff7a2311-cc92-40aa-8a50-05d78ed06796") format("svg");
}
@font-face{
font-family:"EurostileNextW01-Cond";
src:url("Fonts/ffcdba74-d836-44e4-9590-4654083445f1.eot?#iefix");
src:url("Fonts/ffcdba74-d836-44e4-9590-4654083445f1.eot?#iefix") format("eot"),url("Fonts/88718722-4d61-4abb-b9ba-43d93ac9a7a4.woff") format("woff"),url("Fonts/7125337f-a363-4767-a350-6ac8a6719ab0.ttf") format("truetype"),url("Fonts/2194e090-23dc-43b2-a4c3-a532880efd48.svg#2194e090-23dc-43b2-a4c3-a532880efd48") format("svg");
}
@font-face{
font-family:"EurostileNextW01-Extend";
src:url("Fonts/bb9f8bd4-ba5f-4322-85f0-0fbae2ee11c2.eot?#iefix");
src:url("Fonts/bb9f8bd4-ba5f-4322-85f0-0fbae2ee11c2.eot?#iefix") format("eot"),url("Fonts/a9e934be-ccaf-4ef9-8da7-128c86e41d7b.woff") format("woff"),url("Fonts/bf36a607-ef60-4f61-91de-448992be155f.ttf") format("truetype"),url("Fonts/5a0c3ba9-19f9-45ec-a49c-e03d8ed4a3eb.svg#5a0c3ba9-19f9-45ec-a49c-e03d8ed4a3eb") format("svg");
}
@font-face{
font-family:"EurostileNextW01-Light";
src:url("Fonts/10f542b3-9979-490e-bb67-f3e662cedfa9.eot?#iefix");
src:url("Fonts/10f542b3-9979-490e-bb67-f3e662cedfa9.eot?#iefix") format("eot"),url("Fonts/91cd8b4d-6789-4d4b-9ed3-c6b52e9cb0ae.woff") format("woff"),url("Fonts/83b619ca-db67-4f42-84c9-25dec6351887.ttf") format("truetype"),url("Fonts/fe22b722-9a8d-4645-be39-4bb8f0b048ac.svg#fe22b722-9a8d-4645-be39-4bb8f0b048ac") format("svg");
}
@font-face{
font-family:"EurostileNextW01-LightC";
src:url("Fonts/ea0c14f3-c84b-4425-a7db-4b800df049ad.eot?#iefix");
src:url("Fonts/ea0c14f3-c84b-4425-a7db-4b800df049ad.eot?#iefix") format("eot"),url("Fonts/2103fcc5-5043-4473-913f-ce0999ac5373.woff") format("woff"),url("Fonts/5527d27b-143f-4c29-8611-ead29aeb2a11.ttf") format("truetype"),url("Fonts/ec50486d-8dcd-4089-a0ab-93dfcc8fa9a4.svg#ec50486d-8dcd-4089-a0ab-93dfcc8fa9a4") format("svg");
}
@font-face{
font-family:"EurostileNextW01-LightE";
src:url("Fonts/6be414c2-3b91-4d13-83cc-48f8c7912d9e.eot?#iefix");
src:url("Fonts/6be414c2-3b91-4d13-83cc-48f8c7912d9e.eot?#iefix") format("eot"),url("Fonts/9990b66c-b104-4530-b033-d7915655e857.woff") format("woff"),url("Fonts/e4cbd06e-07d8-47ad-9175-a2d5523e91b6.ttf") format("truetype"),url("Fonts/b8b30acc-df32-4d44-89f7-e7c8f21dd13a.svg#b8b30acc-df32-4d44-89f7-e7c8f21dd13a") format("svg");
}
@font-face{
font-family:"EurostileNextW01-Regula";
src:url("Fonts/6bed8cad-cd15-4b82-9ff4-0efd0b173852.eot?#iefix");
src:url("Fonts/6bed8cad-cd15-4b82-9ff4-0efd0b173852.eot?#iefix") format("eot"),url("Fonts/a4a37370-12ae-4b1e-838e-cc18e6390d9f.woff") format("woff"),url("Fonts/f751566a-35f7-41b7-90df-e4f8fe5dccbf.ttf") format("truetype"),url("Fonts/7745b755-2aae-4a8a-a7c7-b48387a9b37e.svg#7745b755-2aae-4a8a-a7c7-b48387a9b37e") format("svg");
}
@font-face{
font-family:"EurostileNextW01-SmBd";
src:url("Fonts/b064692f-59f1-4d8b-a899-a82a486028a4.eot?#iefix");
src:url("Fonts/b064692f-59f1-4d8b-a899-a82a486028a4.eot?#iefix") format("eot"),url("Fonts/f5e1f63d-a59b-4f88-a0c5-55f863443051.woff") format("woff"),url("Fonts/63768ea5-be6a-400b-b964-f7469df9bf0b.ttf") format("truetype"),url("Fonts/6ac4ebbc-7e05-49a5-a85f-ffb747cb05a2.svg#6ac4ebbc-7e05-49a5-a85f-ffb747cb05a2") format("svg");
}
@font-face{
font-family:"EurostileNextW01-SmBdCo";
src:url("Fonts/389ef3c9-0b13-43b7-ac42-311a8f1e26a1.eot?#iefix");
src:url("Fonts/389ef3c9-0b13-43b7-ac42-311a8f1e26a1.eot?#iefix") format("eot"),url("Fonts/6e6ff8b9-1f72-427b-820f-c57026fed380.woff") format("woff"),url("Fonts/b5d336e6-e8dd-4219-bf02-db67704f61cb.ttf") format("truetype"),url("Fonts/db4bb45c-6a2d-49e3-bd38-fe32ae585a4b.svg#db4bb45c-6a2d-49e3-bd38-fe32ae585a4b") format("svg");
}
@font-face{
font-family:"EurostileNextW01-SmBdEx";
src:url("Fonts/b3894d01-d226-459c-874c-054ae4c20973.eot?#iefix");
src:url("Fonts/b3894d01-d226-459c-874c-054ae4c20973.eot?#iefix") format("eot"),url("Fonts/d4377c90-7249-46cf-9e1d-bfb43c1a58a1.woff") format("woff"),url("Fonts/bcd4d152-bef1-4470-b05c-dd5a8a485e69.ttf") format("truetype"),url("Fonts/096c9f76-145f-4fba-a5e7-610b150b504f.svg#096c9f76-145f-4fba-a5e7-610b150b504f") format("svg");
}
@font-face{
font-family:"EurostileNextW01-UltLtC";
src:url("Fonts/a5f7e471-706d-4fb9-a94e-6c67035d0fb4.eot?#iefix");
src:url("Fonts/a5f7e471-706d-4fb9-a94e-6c67035d0fb4.eot?#iefix") format("eot"),url("Fonts/06891dfe-9776-43db-886f-a1b24647a3d3.woff") format("woff"),url("Fonts/74acfc2a-a8d2-423c-a8b2-7313e95d41af.ttf") format("truetype"),url("Fonts/e93caabb-b206-4178-a06e-cfcd3c4800ab.svg#e93caabb-b206-4178-a06e-cfcd3c4800ab") format("svg");
}
@font-face{
font-family:"EurostileNextW01-CnBd";
src:url("Fonts/fbb01178-8100-4d6e-ba35-6a05b240a659.eot?#iefix");
src:url("Fonts/fbb01178-8100-4d6e-ba35-6a05b240a659.eot?#iefix") format("eot"),url("Fonts/303183a5-b0c7-4b4e-8afd-1ab6343205cb.woff") format("woff"),url("Fonts/36315209-477b-4aa5-92ad-e44b7e0352b5.ttf") format("truetype"),url("Fonts/a60d75b9-7a0a-4114-a2b6-90eddfe2401c.svg#a60d75b9-7a0a-4114-a2b6-90eddfe2401c") format("svg");
}
@font-face{
font-family:"EurostileNextW01-ExtUlt";
src:url("Fonts/d1950356-4c31-47b1-a67b-9552574e2e6f.eot?#iefix");
src:url("Fonts/d1950356-4c31-47b1-a67b-9552574e2e6f.eot?#iefix") format("eot"),url("Fonts/d82f7907-5a42-408a-b479-fb495b9369e5.woff") format("woff"),url("Fonts/716836ab-871f-4aba-acc4-898fa8b65164.ttf") format("truetype"),url("Fonts/2de71f7a-0ca5-4a1b-a8bd-987baf29104b.svg#2de71f7a-0ca5-4a1b-a8bd-987baf29104b") format("svg");
}
@font-face{
font-family:"EurostileNextW01-UltLt";
src:url("Fonts/e9ef705d-e81d-4c12-a636-da03f0d94538.eot?#iefix");
src:url("Fonts/e9ef705d-e81d-4c12-a636-da03f0d94538.eot?#iefix") format("eot"),url("Fonts/cb72719e-4216-4659-891b-f36a9c6e79c0.woff") format("woff"),url("Fonts/0f770563-2f55-43bc-9836-95cf9bdb867d.ttf") format("truetype"),url("Fonts/c6398340-fc54-4743-9c18-84b1c1444ca9.svg#c6398340-fc54-4743-9c18-84b1c1444ca9") format("svg");
}

/* ==========================================================================
  font styles
   ========================================================================== */



/****** @ home fonts: size, color, type, decoration  ******/

.home .sidebar h2 {	
 	font-family: EurostileNextW01-SmBd;
 	font-size: 13px;
 	color: #faad24;
 	border-bottom: 1px dotted #faad24;
 	font-weight: 400 !important;

}




footer .widget-one p {
	font-size: 12px;
	font-weight: bold;
	color: #fff;	
	line-height: 0;
	letter-spacing: 1.43px;
}

footer .footer p,
footer .footer ul,
footer .footer ul li a {
	font-family: EurostileNextW01-Regula;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	line-height: 0;
}

footer .footer .mini-navigation {
		letter-spacing: 1.43px;
		line-height: 0;
		font-weight: 400;
}

footer .footer .copyright {
	letter-spacing: 0.75px;
}

