/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #000;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: EurostileNextW01-Regula;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
background: url(../img/body_bg.jpg) center 0 ;
background-attachment: fixed;

}

/****** @main grid % common styles ******/

#container {
    width:940px;
    margin: 0 auto;
    background: #fff;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 940px;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse .column,
  .row.collapse .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }

.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
  min-height: 200px;
  }

.one-third {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 100px;
}

.two-thirds {
    width: 66.66666666%;
    float: left;
    position: relative;
    min-height: 100px;
}

.left {
    float: left;
}

.right {
    float: right;
}

clearfix {
    clear: both;
}

li {
    list-style: square;
}


/****** @header ******/

.main-logo {
    background: url(../img/main-logo.png) no-repeat;
    width: 181px;
    height: 101px;
    line-height: 0;    
    margin: 0;
    text-indent: 100%; /* css image replacement  http://www.sitepoint.com/new-css-image-replacement-technique/ */
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-bottom: 1px;
}

.main-logo a {
    position: absolute;
    height: 90%;
    background: none;    
    width: 100%;
    left: 0;
    top: 0;
}

.header-wrap {
    background: url(../img/header-bg.png) 0 bottom repeat-x;
}


.vs {
    height: 294px;
    width: 940px;
    background-position: 0 0;
    background-repeat: no-repeat;
}


.vs-default,
.slika-akreditiran {
    background: url(../img/vs-akreditiran.jpg);
}

.slika-vecja-preglednost {
    background: url(../img/vs-vecja-preglednost.jpg);
}

.slika-arhiviranje {
    background: url(../img/vs-arhiviranje.jpg);
}

/****** @main navigation ******/

.main-navigation ul {
    padding: 0;
    margin: 0;  

}

.main-navigation ul li {
    float: left;
    margin-right: 1px;
    margin-bottom: 0px;
    list-style: none;
}

.main-navigation > ul > li a {
    color: #fff;
    font-size: 13px;
    background: #333333;
    text-decoration: none;
    padding: 5px 8px 2px 6px;
}

.main-navigation > ul > .current_page_item:first-letter,
 .main-navigation > ul > .current_page_ancestor:first-letter  {
border-bottom: 1px solid #faad24;
} 

.main-navigation > ul > .current_page_item > a,
.main-navigation > ul > .current_page_ancestor > a,
.main-navigation > ul  > li > a:hover {
    box-shadow: 0 -10px 10px 4px #1A1A1A inset;
    background: #434343;
}

.main-navigation > ul > .current-menu-item,
.main-navigation > ul  > li:hover {
    
}


.main-navigation .searchform {
    padding: 0 12px 0 27px;
    padding-bottom: 0;
    margin-top:14px;
}


.main-navigation .searchform input[type=submit] {
        background: url(../img/ico-search.png)  0 top no-repeat;
    width: 36px;
    height: 21px;
    line-height: 0;    
    margin: 0;
    text-indent: 100%; /* css image replacement  http://www.sitepoint.com/new-css-image-replacement-technique/ */
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-bottom: 1px;
    border: none;
    color: #1A1A1A;
    text-indent: -99px;
}




.main-navigation .searchform input[type=text] {
    border: none;
    width: 176px;
    padding-left: 5px;
    padding-top: 5px;
}



.main-navigation .searchform #searchsubmit:hover {
    background-position: 0 -21px;
}

/* ie fixes main nav */

.lt-ie9  .main-navigation > ul > .current-menu-item a,
.lt-ie9 .main-navigation > ul > li a:hover {
    background: url(../img/main-nav-bg-lt-ie9.png) 0 0 repeat-x;              
}

.lt-ie8  .main-navigation > ul .current-menu-item a,
.lt-ie8 .main-navigation > ul li a:hover {
    padding: 6px 8px 3px 6px !important;
    height: 204px;
    border: none;
}

.lt-ie8 .main-navigation ul .current-menu-item:first-letter {
    border: none !important;
}


/* language menu */

.main-navigation .menu-item-language a {
    font-size: 11px;
    color: #707070;
    background: none;

}

.main-navigation .menu-item-language-current a {
    
    color: #000;
}


.main-navigation .menu-item-language a:hover {
    background: none;
    box-shadow: none;
}


/****** @ main nav dropdown  level 1 ******/


.main-navigation > ul > li > ul {
    
    position: absolute;
    padding: 8px 0 30px 0;
    background: #1a1a1a;    
    text-transform: uppercase; 
}

.csstransitions .main-navigation > ul > li > ul,
.hideme {

    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;     
    transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
}

.csstransitions .main-navigation > ul > li:hover > ul,
.showme
 {
    display: block;
      filter: alpha(opacity=10);
    opacity: 10;    
    visibility: visible;

}

.main-navigation > ul > li > ul > li {
    float: none;
    line-height: 19px;
}

.main-navigation > ul > li > ul > li > a {
    background: #1a1a1a; 
    padding-right:60px;
    padding-left:22px;
    font-size: 10px;   
    width: 100px !important; 
}

.main-navigation > ul  li  ul  li a:hover {
    color: #faad24;
}

/* ie fixes */

.ie .main-navigation > ul > li > ul {
    display: none;
}

.ie .main-navigation > ul > li:hover > ul {
        display: block;
}


/****** @ main nav dropdown  level 2 ******/

.main-navigation >  ul > li > ul > li > ul  {
    display: none;        
    padding: 8px 0 30px 0;
    background: #111;    
    text-transform: uppercase;
}

.main-navigation > ul > li > ul > li:hover ul  {
    display: block;
    position: absolute;
    left: 99%;
    width: 100%;
    margin-top: -29px;
    
}

.main-navigation > ul > li > ul > li  ul  li {
    float: none;
    line-height: 19px;
}

.main-navigation > ul > li > ul > li  ul  li  a {
    background: #111; 
    padding-right:60px;
    padding-left:22px;
    font-size: 10px;   
    width: 100px !important; 
}


/* ================================================.==========================
    @ Pages styles
   ========================================================================== */

/****** @ sidebar-one ******/

 .sidebar-one {
    width: 174px;  
    float: left;
    min-height:   
}
  .sidebar-one .text-wrap {
    margin: 0;   
   }

 .sidebar-one ul {
    list-style-type: none;
    list-style-position: inside; 
    background: url(../img/sidebar-nav-bg.png) 0 0 repeat-x;   
    padding-left: 0;
    margin-top: 0;
}



 .sidebar-one ul li a {
    text-decoration: none;
    text-transform: uppercase;
    background: url(../img/sidebar-nav-bg.png) 0 bottom repeat-x;  
    display: block;
    padding: 14px 16px 12px 0;
    text-align: right;
}



 .sidebar-one ul li a:hover {
    color: #faad24;

}


 .sidebar-one ul .current_page_item a,
 .sidebar-one ul .current_page_ancestor a {
    background: #b3b3b3;
}
.sidebar-one ul .current_page_item a:hover,
.sidebar-one ul .current_page_ancestor a:hover {
    color: #000;
}


/****** @ main-content ******/

 .main-content {
    border-left: 1px solid #666666;
    width: 591px;
    float: left;
    min-height: 700px;
    padding-bottom: 47px;

}

 .main-content .text-wrap {
    margin: 0 50px;
}


/****** @ sidebar-two ******/

 .sidebar-two {
    width: 173px;
    border-left: 1px solid #221f1f;
    border-bottom: 1px solid #221f1f;
    float: right;
    margin-top: 60px;

}

 .sidebar-two .text-wrap section {
    padding: 0 25px 4px 17px;
    border-bottom: 1px dotted #221f1f;
    margin-bottom: 17px;
}

.sidebar-two .img-box {
    border:1px solid #000; 
    width:103px;
    height: 103px;
    border-left: none; 
    margin-bottom: 17px;

}

        /****** @ sidebar images ******/

        .sidebar-two .img-box {
            background: url(../img/sidebar-img-macka.jpg)  0 0  no-repeat;
        }


/* ==========================================================================
  @ home styles
   ========================================================================== */



/****** @ home sidebar ******/

.home-sidebar .text-wrap {
    margin: 37px 34px 0 53px;
    
   }

/****** @ home main-content ******/
.home-main-content .text-wrap {
    padding: 60px 70px 0 70px;
}



/****** @ footer ******/


/* reset */
footer .widget-one p,
footer .widget-one p a,
footer .footer p,
footer .footer p a {
    margin: 0;
    display: inline-block;
}

footer {
    margin-bottom: 20px;
}

footer .widget-one {
    background: #faad24; 
    overflow: hidden;
    padding: 1px 0;
}

footer .widget-one .text-wrap {
    margin-left: 50px;
    display: block;

}

footer .footer {
    background: #000;
    padding: 10px 0 6px 0;


}

footer .footer .text-wrap {
    display: block;
    margin-left: 50px;
}

/****** @ footer copyright ******/

footer .footer .copyright {
    margin-top: 1px;
}

/****** @ footer mini-menu ******/

footer .footer .mini-navigation {
    margin-right: 11px;
    margin-top: 13px;
}
.mini-navigation .about {
    position: relative;

}


            footer .footer .mini-navigation .about  ul   {
                display: none;
            }   

               

            footer .footer .mini-navigation .about:hover  ul {
                
                  background: url("../img/bg-about.png") no-repeat scroll 0 0 transparent;
    display: block !important;
    height: 92px;
    margin: 0;
    padding: 9px 0 0 15px;
    position: absolute;
    right: -80px;
    top: -87px;
    width: 138px;
    z-index: 100;
                
            }

            footer .footer .mini-navigation .about ul li {
                position: relative;             
                margin-left: 0;
                list-style-type:  none;
                display: inline-block;
                line-height: 14px;     
                margin-bottom: 6px;          
                      
            }


               footer .footer  .mini-navigation .about ul li a {
                    font-size: 11px;
                    
                    

                    
                    border-bottom: 1px solid #6d6d6d;
                    margin: 0;
                    padding: 0;

                    
                }

                footer .footer .mini-navigation .about ul li  span {
                    font-size: 8px;
                    display: block;
                    line-height: 9px;
                    margin-top: 1px;
                    text-decoration: none !important;
                    width: 120px;
                }


footer .footer .mini-navigation > li {
    display: inline-block;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 34px;

}

footer .footer .mini-navigation > li a {
    padding: 10px 6px 6px 6px;  
}


/* ==========================================================================
    Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   develop
   ========================================================================== */

   #respond {
    display: none;
    visibility: hidden;
    position: absolute;
    height: 0;
   }

