@font-face{
font-family:"EurostileNextW02";
src:url("Fonts/674aa347-350f-42ca-881a-0d0e89e149db.eot?#iefix");
src:url("Fonts/674aa347-350f-42ca-881a-0d0e89e149db.eot?#iefix") format("eot"),url("Fonts/3721a03d-8ecc-4003-8a88-fcc548c10457.woff") format("woff"),url("Fonts/a810675b-57d1-4478-ad7c-fd369e272b14.ttf") format("truetype"),url("Fonts/60250abd-94bd-42b8-ae64-2cdb21d7b826.svg#60250abd-94bd-42b8-ae64-2cdb21d7b826") format("svg");
}

.login,
.login form .input, .login input[type="text"] {
font-family:"EurostileNextW02";
text-transform: uppercase;
font-size: 8px;

}


.login form .input, .login input[type="text"] {
    font-size: 14px;
}

body.login  {
	background: url(../img/body_bg.jpg) center 0;

}


.login p label {
	font-size: 12px;	
}





.login h1 a {
    background: url("../img/imis-logo-login.jpg") no-repeat scroll 0 0 white;
    border-radius: 2px;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
    margin-bottom: 5px;
    margin-left: 7px;
    width: 313px;
    height: 50px;
}


.login #nav, .login #backtoblog {
    margin: 0 0 0 16px;
    padding: 16px 16px 0;
    text-shadow: 0 1px 0 #000;
}

.login #nav a, .login #backtoblog a {
    color: #FBAE25 !important;

}

.login #nav a:hover, .login #backtoblog a:hover {
    color: #fff !important;

}

div.updated, .login .message {
    font-size: 10px;
}



/* shrink custom fields boxes */

